# Identifying safe loans with decision trees

The [LendingClub](https://www.lendingclub.com/) is a peer-to-peer leading company that directly connects borrowers and potential lenders/investors. In this notebook, you will build a classification model to predict whether or not a loan provided by LendingClub is likely to [default](https://en.wikipedia.org/wiki/Default_%28finance%29).

In this notebook you will use data from the LendingClub to predict whether a loan will be paid off in full or the loan will be [charged off](https://en.wikipedia.org/wiki/Charge-off) and possibly go into default. In this assignment you will:

* Use SFrames to do some feature engineering.
* Train a decision-tree on the LendingClub dataset.
* Predict whether a loan will default along with prediction probabilities (on a validation set).
* Train a complex tree model and compare it to simple tree model.

Let's get started!

## Fire up Turi Create

Make sure you have the latest version of Turi Create. If you don't find the decision tree module, then you would need to upgrade Turi Create using

```
   pip install turicreate --upgrade
```

In [1]:
import turicreate

# Load LendingClub dataset

We will be using a dataset from the [LendingClub](https://www.lendingclub.com/). A parsed and cleaned form of the dataset is availiable [here](https://github.com/learnml/machine-learning-specialization-private). Make sure you **download the dataset** before running the following command.

In [2]:
loans = turicreate.SFrame('lending-club-data.sframe/')

## Exploring some features

Let's quickly explore what the dataset looks like. First, let's print out the column names to see what features we have in this dataset.

In [3]:
# loans.column_names()
loans.print_rows(num_rows = 1, num_columns = 68)

+---------+-----------+-----------+-------------+-----------------+------------+
|    id   | member_id | loan_amnt | funded_amnt | funded_amnt_inv |    term    |
+---------+-----------+-----------+-------------+-----------------+------------+
| 1077501 |  1296599  |    5000   |     5000    |       4975      |  36 months |
+---------+-----------+-----------+-------------+-----------------+------------+
+----------+-------------+-------+-----------+-----------+------------+----------------+
| int_rate | installment | grade | sub_grade | emp_title | emp_length | home_ownership |
+----------+-------------+-------+-----------+-----------+------------+----------------+
|  10.65   |    162.87   |   B   |     B2    |           | 10+ years  |      RENT      |
+----------+-------------+-------+-----------+-----------+------------+----------------+
+------------+----------+-----------------+-------------+------------+
| annual_inc | is_inc_v |     issue_d     | loan_status | pymnt_plan |
+------------+----------+-----------------+-------------+------------+
|   24000    | Verified | 20111201T000000 |  Fully Paid |     n      |
+------------+----------+-----------------+-------------+------------+
+-------------------------------+-------------------------------+-------------+
|              url              |              desc             |   purpose   |
+-------------------------------+-------------------------------+-------------+
| https://www.lendingclub.co... |   Borrower added on 12/22/... | credit_card |
+-------------------------------+-------------------------------+-------------+
+----------+----------+------------+-------+-------------+------------------+----------------+
|  title   | zip_code | addr_state |  dti  | delinq_2yrs | earliest_cr_line | inq_last_6mths |
+----------+----------+------------+-------+-------------+------------------+----------------+
| Computer |  860xx   |     AZ     | 27.65 |      0      | 19850101T000000  |       1        |
+----------+----------+------------+-------+-------------+------------------+----------------+
+------------------------+------------------------+----------+---------+-----------+
| mths_since_last_delinq | mths_since_last_record | open_acc | pub_rec | revol_bal |
+------------------------+------------------------+----------+---------+-----------+
|          None          |          None          |    3     |    0    |   13648   |
+------------------------+------------------------+----------+---------+-----------+
+------------+-----------+---------------------+-----------+---------------+
| revol_util | total_acc | initial_list_status | out_prncp | out_prncp_inv |
+------------+-----------+---------------------+-----------+---------------+
|    83.7    |     9     |          f          |    0.0    |      0.0      |
+------------+-----------+---------------------+-----------+---------------+
+-------------+-----------------+-----------------+---------------+--------------------+
| total_pymnt | total_pymnt_inv | total_rec_prncp | total_rec_int | total_rec_late_fee |
+-------------+-----------------+-----------------+---------------+--------------------+
|   5861.07   |     5831.78     |      5000.0     |     861.07    |        0.0         |
+-------------+-----------------+-----------------+---------------+--------------------+
+------------+-------------------------+-----------------+-----------------+--------------+
| recoveries | collection_recovery_fee |   last_pymnt_d  | last_pymnt_amnt | next_pymnt_d |
+------------+-------------------------+-----------------+-----------------+--------------+
|    0.0     |           0.0           | 20150101T000000 |      171.62     |              |
+------------+-------------------------+-----------------+-----------------+--------------+
+--------------------+----------------------------+-----------------------------+
| last_credit_pull_d | collections_12_mths_ex_med | mths_since_last_major_derog |
+--------------------+----------------------------+-----------------------------+
|  20150101T000000   |             0              |                             |
+--------------------+----------------------------+-----------------------------+
+-------------+---------------+------------+----------------+-----------+----------------+
| policy_code | not_compliant |   status   | inactive_loans | bad_loans | emp_length_num |
+-------------+---------------+------------+----------------+-----------+----------------+
|      1      |       0       | Fully Paid |       1        |     0     |       11       |
+-------------+---------------+------------+----------------+-----------+----------------+
+-----------+---------------+------------------+--------------+--------------------------+
| grade_num | sub_grade_num | delinq_2yrs_zero | pub_rec_zero | collections_12_mths_zero |
+-----------+---------------+------------------+--------------+--------------------------+
|     5     |      0.4      |        1         |      1       |            1             |
+-----------+---------------+------------------+--------------+--------------------------+
+-----------+-------------------+-----------------+------------------+------------------+
| short_emp | payment_inc_ratio |     final_d     | last_delinq_none | last_record_none |
+-----------+-------------------+-----------------+------------------+------------------+
|     0     |       8.1435      | 20141201T000000 |        1         |        1         |
+-----------+-------------------+-----------------+------------------+------------------+
+-----------------------+
| last_major_derog_none |
+-----------------------+
|           1           |
+-----------------------+
[122607 rows x 68 columns]

Here, we see that we have some feature columns that have to do with grade of the loan, annual income, home ownership status, etc. Let's take a look at the distribution of loan grades in the dataset.

In [4]:
# loans['grade'].show()
loans_grade = loans['grade']
print(type(loans_grade))
print(len(loans_grade))
print(loans_grade)

<class 'turicreate.data_structures.sarray.SArray'>
122607
['B', 'C', 'C', 'C', 'A', 'E', 'F', 'B', 'C', 'B', 'C', 'B', 'B', 'D', 'C', 'A', 'B', 'A', 'B', 'B', 'B', 'B', 'B', 'C', 'D', 'B', 'B', 'A', 'A', 'A', 'C', 'B', 'B', 'A', 'B', 'A', 'A', 'D', 'D', 'A', 'B', 'A', 'B', 'A', 'A', 'B', 'B', 'B', 'C', 'B', 'E', 'E', 'B', 'B', 'D', 'C', 'D', 'B', 'D', 'C', 'F', 'C', 'D', 'D', 'C', 'D', 'A', 'C', 'C', 'F', 'A', 'E', 'D', 'C', 'B', 'A', 'B', 'B', 'B', 'D', 'C', 'B', 'B', 'E', 'B', 'B', 'B', 'D', 'A', 'B', 'A', 'B', 'A', 'D', 'B', 'C', 'C', 'B', 'A', 'A', ... ]

We can see that over half of the loan grades are assigned values `B` or `C`. Each loan is assigned one of these grades, along with a more finely discretized feature called `sub_grade` (feel free to explore that feature column as well!). These values depend on the loan application and credit report, and determine the interest rate of the loan. More information can be found [here](https://www.lendingclub.com/public/rates-and-fees.action).

Now, let's look at a different feature.

In [5]:
# loans['home_ownership'].show()
loans_home_ownership = loans['home_ownership']
print(type(loans_home_ownership))
print(len(loans_home_ownership))
print(loans_home_ownership)

<class 'turicreate.data_structures.sarray.SArray'>
122607
['RENT', 'RENT', 'RENT', 'RENT', 'RENT', 'RENT', 'OWN', 'RENT', 'OWN', 'OWN', 'RENT', 'RENT', 'RENT', 'RENT', 'RENT', 'MORTGAGE', 'MORTGAGE', 'RENT', 'RENT', 'OWN', 'RENT', 'RENT', 'MORTGAGE', 'RENT', 'RENT', 'MORTGAGE', 'RENT', 'MORTGAGE', 'MORTGAGE', 'RENT', 'RENT', 'RENT', 'RENT', 'RENT', 'RENT', 'RENT', 'RENT', 'MORTGAGE', 'RENT', 'MORTGAGE', 'RENT', 'MORTGAGE', 'RENT', 'RENT', 'RENT', 'MORTGAGE', 'RENT', 'RENT', 'RENT', 'RENT', 'RENT', 'RENT', 'OWN', 'RENT', 'MORTGAGE', 'RENT', 'RENT', 'MORTGAGE', 'RENT', 'RENT', 'RENT', 'OWN', 'MORTGAGE', 'RENT', 'RENT', 'RENT', 'OWN', 'RENT', 'MORTGAGE', 'RENT', 'MORTGAGE', 'MORTGAGE', 'MORTGAGE', 'RENT', 'RENT', 'RENT', 'RENT', 'RENT', 'MORTGAGE', 'RENT', 'RENT', 'RENT', 'MORTGAGE', 'RENT', 'RENT', 'OWN', 'MORTGAGE', 'MORTGAGE', 'MORTGAGE', 'RENT', 'OWN', 'RENT', 'MORTGAGE', 'RENT', 'RENT', 'RENT', 'RENT', 'MORTGAGE', 'MORTGAGE', 'OWN', ... ]

This feature describes whether the loanee is mortaging, renting, or owns a home. We can see that a small percentage of the loanees own a home.

## Exploring the target column

The target column (label column) of the dataset that we are interested in is called `bad_loans`. In this column **1** means a risky (bad) loan **0** means a safe  loan.

In order to make this more intuitive and consistent with the lectures, we reassign the target to be:
* **+1** as a safe  loan, 
* **-1** as a risky (bad) loan. 

We put this in a new column called `safe_loans`.

In [6]:
# safe_loans =  1 => safe
# safe_loans = -1 => risky
loans['safe_loans'] = loans['bad_loans'].apply(lambda x : +1 if x==0 else -1)
loans = loans.remove_column('bad_loans')

Now, let us explore the distribution of the column `safe_loans`. This gives us a sense of how many safe and risky loans are present in the dataset.

In [7]:
# loans['safe_loans'].show()
loans_safe = loans[loans['safe_loans'] == 1]
loans_bad = loans[loans['safe_loans'] == -1]
print('safe loans rate = ' + str(float(len(loans_safe)) / len(loans)))
print('bad loans rate = ' + str(float(len(loans_bad)) / len(loans)))
print('safe + bad = ' + str(len(loans_safe) + len(loans_bad)))
print('total loans = ' + str(len(loans)))

safe loans rate = 0.8111853319957262
bad loans rate = 0.18881466800427382
safe + bad = 122607
total loans = 122607

You should have:
* Around 81% safe loans
* Around 19% risky loans

It looks like most of these loans are safe loans (thankfully). But this does make our problem of identifying risky loans challenging.

## Features for the classification algorithm

In this assignment, we will be using a subset of features (categorical and numeric). The features we will be using are **described in the code comments** below. If you are a finance geek, the [LendingClub](https://www.lendingclub.com/) website has a lot more details about these features.

In [8]:
features = ['grade',                     # grade of the loan
            'sub_grade',                 # sub-grade of the loan
            'short_emp',                 # one year or less of employment
            'emp_length_num',            # number of years of employment
            'home_ownership',            # home_ownership status: own, mortgage or rent
            'dti',                       # debt to income ratio
            'purpose',                   # the purpose of the loan
            'term',                      # the term of the loan
            'last_delinq_none',          # has borrower had a delinquincy
            'last_major_derog_none',     # has borrower had 90 day or worse rating
            'revol_util',                # percent of available credit being used
            'total_rec_late_fee',        # total late fees received to day
           ]

target = 'safe_loans'                   # prediction target (y) (+1 means safe, -1 is risky)

# Extract the feature columns and target column
loans = loans[features + [target]]

What remains now is a **subset of features** and the **target** that we will use for the rest of this notebook.

In [9]:
loans
# loans.print_rows(num_rows = 3, num_columns = len(features) + 1)

Columns:
	grade	str
	sub_grade	str
	short_emp	int
	emp_length_num	int
	home_ownership	str
	dti	float
	purpose	str
	term	str
	last_delinq_none	int
	last_major_derog_none	int
	revol_util	float
	total_rec_late_fee	float
	safe_loans	int

Rows: 122607

Data:
+-------+-----------+-----------+----------------+----------------+-------+
| grade | sub_grade | short_emp | emp_length_num | home_ownership |  dti  |
+-------+-----------+-----------+----------------+----------------+-------+
|   B   |     B2    |     0     |       11       |      RENT      | 27.65 |
|   C   |     C4    |     1     |       1        |      RENT      |  1.0  |
|   C   |     C5    |     0     |       11       |      RENT      |  8.72 |
|   C   |     C1    |     0     |       11       |      RENT      |  20.0 |
|   A   |     A4    |     0     |       4        |      RENT      |  11.2 |
|   E   |     E1    |     0     |       10       |      RENT      |  5.35 |
|   F   |     F2    |     0     |       5        |      OWN       |  5.55 |
|   B   |     B5    |     1     |       1        |      RENT      | 18.08 |
|   C   |     C3    |     0     |       6        |      OWN       | 16.12 |
|   B   |     B5    |     0     |       11       |      OWN       | 10.78 |
+-------+-----------+-----------+----------------+----------------+-------+
+--------------------+------------+------------------+-----------------------+
|      purpose       |    term    | last_delinq_none | last_major_derog_none |
+--------------------+------------+------------------+-----------------------+
|    credit_card     |  36 months |        1         |           1           |
|        car         |  60 months |        1         |           1           |
|   small_business   |  36 months |        1         |           1           |
|       other        |  36 months |        0         |           1           |
|      wedding       |  36 months |        1         |           1           |
|        car         |  36 months |        1         |           1           |
|   small_business   |  60 months |        1         |           1           |
|       other        |  60 months |        1         |           1           |
| debt_consolidation |  60 months |        1         |           1           |
| debt_consolidation |  36 months |        1         |           1           |
+--------------------+------------+------------------+-----------------------+
+------------+--------------------+------------+
| revol_util | total_rec_late_fee | safe_loans |
+------------+--------------------+------------+
|    83.7    |        0.0         |     1      |
|    9.4     |        0.0         |     -1     |
|    98.5    |        0.0         |     1      |
|    21.0    |       16.97        |     1      |
|    28.3    |        0.0         |     1      |
|    87.5    |        0.0         |     1      |
|    32.6    |        0.0         |     -1     |
|    36.5    |        0.0         |     -1     |
|    20.6    |        0.0         |     1      |
|    67.1    |        0.0         |     1      |
+------------+--------------------+------------+
[122607 rows x 13 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

## Sample data to balance classes

As we explored above, our data is disproportionally full of safe loans.  Let's create two datasets: one with just the safe loans (`safe_loans_raw`) and one with just the risky loans (`risky_loans_raw`).

In [10]:
safe_loans_raw = loans[loans[target] == +1]
risky_loans_raw = loans[loans[target] == -1]
print("Number of safe loans  : %s" % len(safe_loans_raw))
print("Number of risky loans : %s" % len(risky_loans_raw))

Number of safe loans  : 99457
Number of risky loans : 23150

Now, write some code to compute below the percentage of safe and risky loans in the dataset and validate these numbers against what was given using `.show` earlier in the assignment:

In [11]:
print('Percentage of safe loans = ' + str(float(len(safe_loans_raw)) / len(loans))) 
print("Percentage of risky loans = " + str(float(len(risky_loans_raw)) / len(loans)))

Percentage of safe loans = 0.8111853319957262
Percentage of risky loans = 0.18881466800427382

One way to combat class imbalance is to undersample the larger class until the class distribution is approximately half and half. Here, we will undersample the larger class (safe loans) in order to balance out our dataset. This means we are throwing away many data points. We used `seed=1` so everyone gets the same results.

In [12]:
# Since there are fewer risky loans than safe loans, find the ratio of the sizes
# and use that percentage to undersample the safe loans.
percentage = len(risky_loans_raw)/float(len(safe_loans_raw))

risky_loans = risky_loans_raw
safe_loans = safe_loans_raw.sample(percentage, seed=1)

# Append the risky_loans with the downsampled version of safe_loans
loans_data = risky_loans.append(safe_loans)

Now, let's verify that the resulting percentage of safe and risky loans are each nearly 50%.

In [13]:
print("Percentage of safe loans                 :", len(safe_loans) / float(len(loans_data)))
print("Percentage of risky loans                :", len(risky_loans) / float(len(loans_data)))
print("Total number of loans in our new dataset :", len(loans_data))
print('risky loans = ' + str(len(risky_loans)))
print('safe loans = ' + str(len(safe_loans)))

Percentage of safe loans                 : 0.5022361744216048
Percentage of risky loans                : 0.4977638255783951
Total number of loans in our new dataset : 46508
risky loans = 23150
safe loans = 23358

**Note:** There are many approaches for dealing with imbalanced data, including some where we modify the learning algorithm. These approaches are beyond the scope of this course, but some of them are reviewed in this [paper](http://ieeexplore.ieee.org/xpl/login.jsp?tp=&arnumber=5128907&url=http%3A%2F%2Fieeexplore.ieee.org%2Fiel5%2F69%2F5173046%2F05128907.pdf%3Farnumber%3D5128907 ). For this assignment, we use the simplest possible approach, where we subsample the overly represented class to get a more balanced dataset. In general, and especially when the data is highly imbalanced, we recommend using more advanced methods.

## Split data into training and validation sets

We split the data into training and validation sets using an 80/20 split and specifying `seed=1` so everyone gets the same results.

**Note**: In previous assignments, we have called this a **train-test split**. However, the portion of data that we don't train on will be used to help **select model parameters** (this is known as model selection). Thus, this portion of data should be called a **validation set**. Recall that examining performance of various potential models (i.e. models with different parameters) should be on validation set, while evaluation of the final selected model should always be on test data. Typically, we would also save a portion of the data (a real test set) to test our final model on or use cross-validation on the training set to select our final model. But for the learning purposes of this assignment, we won't do that.

In [14]:
train_data, validation_data = loans_data.random_split(.8, seed=1)

# Use decision tree to build a classifier

Now, let's use the built-in Turi Create decision tree learner to create a loan prediction model on the training data. (In the next assignment, you will implement your own decision tree learning algorithm.)  Our feature columns and target column have already been decided above. Use `validation_set=None` to get the same results as everyone else.

In [15]:
decision_tree_model = turicreate.decision_tree_classifier.create(train_data,
                                                                 validation_set = None,
                                                                 target = target,
                                                                 features = features, 
                                                                 verbose = False)

## Building a smaller tree

Typically the max depth of the tree is capped at 6. However, such a tree can be hard to visualize graphically, and moreover, it may overfit..  Here, we instead learn a smaller model with **max depth of 2** to gain some intuition and to understand the learned tree more.

In [16]:
small_model = turicreate.decision_tree_classifier.create(train_data,
                                                         validation_set=None,
                                                         target = target,
                                                         features = features,
                                                         max_depth = 2, 
                                                         verbose = False)

# Making predictions

Let's consider two positive and two negative examples **from the validation set** and see what the model predicts. We will do the following:
* Predict whether or not a loan is safe.
* Predict the probability that a loan is safe.

In [17]:
validation_safe_loans = validation_data[validation_data[target] == 1]
validation_risky_loans = validation_data[validation_data[target] == -1]

sample_validation_data_risky = validation_risky_loans[0:2]
sample_validation_data_safe = validation_safe_loans[0:2]

sample_validation_data = sample_validation_data_safe.append(sample_validation_data_risky)
sample_validation_data

Columns:
	grade	str
	sub_grade	str
	short_emp	int
	emp_length_num	int
	home_ownership	str
	dti	float
	purpose	str
	term	str
	last_delinq_none	int
	last_major_derog_none	int
	revol_util	float
	total_rec_late_fee	float
	safe_loans	int

Rows: 4

Data:
+-------+-----------+-----------+----------------+----------------+-------+
| grade | sub_grade | short_emp | emp_length_num | home_ownership |  dti  |
+-------+-----------+-----------+----------------+----------------+-------+
|   B   |     B3    |     0     |       11       |      OWN       | 11.18 |
|   D   |     D1    |     0     |       10       |      RENT      | 16.85 |
|   D   |     D2    |     0     |       3        |      RENT      | 13.97 |
|   A   |     A5    |     0     |       11       |    MORTGAGE    | 16.33 |
+-------+-----------+-----------+----------------+----------------+-------+
+--------------------+------------+------------------+-----------------------+
|      purpose       |    term    | last_delinq_none | last_major_derog_none |
+--------------------+------------+------------------+-----------------------+
|    credit_card     |  36 months |        1         |           1           |
| debt_consolidation |  36 months |        1         |           1           |
|       other        |  60 months |        0         |           1           |
| debt_consolidation |  36 months |        1         |           1           |
+--------------------+------------+------------------+-----------------------+
+------------+--------------------+------------+
| revol_util | total_rec_late_fee | safe_loans |
+------------+--------------------+------------+
|    82.4    |        0.0         |     1      |
|    96.4    |        0.0         |     1      |
|    59.5    |        0.0         |     -1     |
|    62.1    |        0.0         |     -1     |
+------------+--------------------+------------+
[4 rows x 13 columns]

## Explore label predictions

Now, we will use our model  to predict whether or not a loan is likely to default. For each row in the **sample_validation_data**, use the **decision_tree_model** to predict whether or not the loan is classified as a **safe loan**. 

**Hint:** Be sure to use the `.predict()` method.

In [18]:
true_labels = sample_validation_data['safe_loans']
predict_labels = decision_tree_model.predict(sample_validation_data)
print(true_labels)
print(predict_labels)

[1, 1, -1, -1]
[1, -1, -1, 1]

**Quiz Question:** What percentage of the predictions on `sample_validation_data` did `decision_tree_model` get correct?

## Explore probability predictions

For each row in the **sample_validation_data**, what is the probability (according **decision_tree_model**) of a loan being classified as **safe**? 


**Hint:** Set `output_type='probability'` to make **probability** predictions using **decision_tree_model** on `sample_validation_data`:

In [19]:
predict_probs = decision_tree_model.predict(sample_validation_data, output_type = 'probability')
print(predict_probs)

[0.6532223224639893, 0.463798463344574, 0.356814444065094, 0.7621196508407593]

**Quiz Question:** Which loan has the highest probability of being classified as a **safe loan**?

**Checkpoint:** Can you verify that for all the predictions with `probability >= 0.5`, the model predicted the label **+1**?

### Tricky predictions!

Now, we will explore something pretty interesting. For each row in the **sample_validation_data**, what is the probability (according to **small_model**) of a loan being classified as **safe**?

**Hint:** Set `output_type='probability'` to make **probability** predictions using **small_model** on `sample_validation_data`:

In [20]:
predict_probs_small = small_model.predict(sample_validation_data, output_type = 'probability')
print(predict_probs_small)

[0.5803016424179077, 0.4085058867931366, 0.4085058867931366, 0.7454202175140381]

**Quiz Question:** Notice that the probability preditions are the **exact same** for the 2nd and 3rd loans. Why would this happen?

In [21]:
# The model is too simple with a max depth of 2.

# Evaluating accuracy of the decision tree model

Recall that the accuracy is defined as follows:
$$
\mbox{accuracy} = \frac{\mbox{# correctly classified examples}}{\mbox{# total examples}}
$$

Let us start by evaluating the accuracy of the `small_model` and `decision_tree_model` on the training data

In [22]:
print(small_model.evaluate(train_data)['accuracy'])
print(decision_tree_model.evaluate(train_data)['accuracy'])

0.6135020416935311
0.6405813453685794

**Checkpoint:** You should see that the **small_model** performs worse than the **decision_tree_model** on the training data.


Now, let us evaluate the accuracy of the **small_model** and **decision_tree_model** on the entire **validation_data**, not just the subsample considered above.

In [23]:
print(small_model.evaluate(validation_data)['accuracy'])
print(decision_tree_model.evaluate(validation_data)['accuracy'])

0.6193451098664369
0.6367944851357173

**Quiz Question:** What is the accuracy of `decision_tree_model` on the validation set, rounded to the nearest .01?

## Evaluating accuracy of a complex decision tree model

Here, we will train a large decision tree with `max_depth=10`. This will allow the learned tree to become very deep, and result in a very complex model. Recall that in lecture, we prefer simpler models with similar predictive power. This will be an example of a more complicated model which has similar predictive power, i.e. something we don't want.

In [24]:
big_model = turicreate.decision_tree_classifier.create(train_data, 
                                                       validation_set = None,
                                                       target = target, 
                                                       features = features, 
                                                       max_depth = 10, 
                                                       verbose = False)

Now, let us evaluate **big_model** on the training set and validation set.

In [25]:
print(big_model.evaluate(train_data)['accuracy'])
print(big_model.evaluate(validation_data)['accuracy'])

0.665538362346873
0.6274235243429557

**Checkpoint:** We should see that **big_model** has even better performance on the training set than **decision_tree_model** did on the training set.

**Quiz Question:** How does the performance of **big_model** on the validation set compare to **decision_tree_model** on the validation set? Is this a sign of overfitting?

### Quantifying the cost of mistakes

Every mistake the model makes costs money. In this section, we will try and quantify the cost of each mistake made by the model.

Assume the following:

* **False negatives**: Loans that were actually safe but were predicted to be risky. This results in an oppurtunity cost of losing a loan that would have otherwise been accepted. 
* **False positives**: Loans that were actually risky but were predicted to be safe. These are much more expensive because it results in a risky loan being given. 
* **Correct predictions**: All correct predictions don't typically incur any cost.


Let's write code that can compute the cost of mistakes made by the model. Complete the following 4 steps:
1. First, let us compute the predictions made by the model.
1. Second, compute the number of false positives.
2. Third, compute the number of false negatives.
3. Finally, compute the cost of mistakes made by the model by adding up the costs of true positives and false positives.

First, let us make predictions on `validation_data` using the `decision_tree_model`:

In [26]:
predictions = decision_tree_model.predict(validation_data)
true_labels = validation_data[target]
print(type(predictions))
print(type(true_labels))
print(len(predictions))
print(len(true_labels))

<class 'turicreate.data_structures.sarray.SArray'>
<class 'turicreate.data_structures.sarray.SArray'>
9284
9284

**False positives** are predictions where the model predicts +1 but the true label is -1. Complete the following code block for the number of false positives:

**False negatives** are predictions where the model predicts -1 but the true label is +1. Complete the following code block for the number of false negatives:

In [27]:
false_positives = 0
false_negatives = 0
for i in range(len(predictions)) :
    if predictions[i] != true_labels[i] :
        if true_labels[i] == 1 :
            false_negatives = false_negatives + 1
        else :
            false_positives = false_positives + 1
    else :
        false_positives = false_positives
        false_negatives = false_negatives
print('false positives = ' + str(false_positives))
print('false negatives = ' + str(false_negatives))

false positives = 1656
false negatives = 1716

**Quiz Question:** Let us assume that each mistake costs money:
* Assume a cost of \$10,000 per false negative.
* Assume a cost of \$20,000 per false positive.

What is the total cost of mistakes made by `decision_tree_model` on `validation_data`?

In [28]:
total_cost = 10000 * false_negatives + 20000 * false_positives
print('total_cost = ' + str(total_cost))

total_cost = 50280000